In [8]:
df = pd.DataFrame({'X_Axis':[1,3,5,7,10,20],
                   'col_2':[.4,.5,.4,.5,.5,.4],
                   'col_3':[.7,.8,.9,.4,.2,.3],
                   'col_4':[.1,.3,.5,.7,.1,.0],
                   'col_5':[.5,.3,.6,.9,.2,.4]})

In [9]:
df

   X_Axis  col_2  col_3  col_4  col_5
0       1    0.4    0.7    0.1    0.5
1       3    0.5    0.8    0.3    0.3
2       5    0.4    0.9    0.5    0.6
3       7    0.5    0.4    0.7    0.9
4      10    0.5    0.2    0.1    0.2
5      20    0.4    0.3    0.0    0.4

In [10]:
df.melt('X_Axis', var_name='cols',  value_name='vals')

    X_Axis   cols  vals
0        1  col_2   0.4
1        3  col_2   0.5
2        5  col_2   0.4
3        7  col_2   0.5
4       10  col_2   0.5
5       20  col_2   0.4
6        1  col_3   0.7
7        3  col_3   0.8
8        5  col_3   0.9
9        7  col_3   0.4
10      10  col_3   0.2
11      20  col_3   0.3
12       1  col_4   0.1
13       3  col_4   0.3
14       5  col_4   0.5
15       7  col_4   0.7
16      10  col_4   0.1
17      20  col_4   0.0
18       1  col_5   0.5
19       3  col_5   0.3
20       5  col_5   0.6
21       7  col_5   0.9
22      10  col_5   0.2
23      20  col_5   0.4